<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>973143542320-8nvbpb3dgmo14addqc25ucbdsncur353.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.973143542320-8nvbpb3dgmo14addqc25ucbdsncur353</string>
	<key>API_KEY</key>
	<string>AIzaSyAT12QwEP9QypmXxkzAS2EOA6uyO54I_eg</string>
	<key>GCM_SENDER_ID</key>
	<string>973143542320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robert-Bates.CubePress</string>
	<key>PROJECT_ID</key>
	<string>cubepress-1248a</string>
	<key>STORAGE_BUCKET</key>
	<string>cubepress-1248a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973143542320:ios:7272550b3144843ba9bbf5</string>
</dict>
</plist>